<div id="sidebar_container">
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Последние новости</h3>
            <h4>Запущен новый веб-сайт</h4>
            <h5>{{date}}</h5>
            <p>Взгляните на редизайн нашего сайта. Ознакомьтесь и дайте нам знать, что вы думаете.
                <br />
                <a href="#">Прочитать больше</a>
            </p>
        </div>
        <div class="sidebar_base"></div>
    </div>
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h3>Полезные ссылки</h3>
            <ul>
                <li><a href="#">ссылка 1</a></li>
                <li><a href="#">ссылка 2</a></li>
                <li><a href="#">ссылка 3</a></li>
                <li><a href="#">ссылка 4</a></li>
            </ul>
        </div>
        <div class="sidebar_base"></div>
    </div>
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h3>Поиск</h3>
            <form method="post" action="#" id="search_form">
                <p>
                    <input class="search" type="text" name="search_field" value="Enter keywords....." />
                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png"
                        alt="Search" title="Search" />
                </p>
            </form>
        </div>
        <div class="sidebar_base"></div>
    </div>
</div>